<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wanted List</title>
</head>
<body>
    <h1>Wanted List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Subject</th>
            <th>Location</th>
            <th>Number of Students</th>
            <th>Period</th>
            <th>Salary</th>
            <th>Content</th>
        </tr>
        <tr th:each="wanted : ${wantedList}">
            <td th:text="${wanted.id}"></td>
            <td th:text="${wanted.subject}"></td>
            <td th:text="${wanted.location}"></td>
            <td th:text="${wanted.num_students}"></td>
            <td th:text="${wanted.period}"></td>
            <td th:text="${wanted.salary}"></td>
            <td th:text="${wanted.content}"></td>
        </tr>
    </table>

</body>
</html>
