<!DOCTYPE html>
<html>
<form action="/wanted_action" method="post">
    <label>
        subject
        <input type="text" name="subject">
    </label>
    <label>
        location
        <input type="text" name="location">
    </label>
    <label>
        num_students
        <input type="text" name="num_students">
    </label>
    <label>
        salary
        <input type="text" name="salary">
    </label>
    <label>
        content
        <input type="text" name="content">
    </label>

    <label>
        period
        <input type="text" name="period">
    </label>
    <button type="submit">submit</button>
</form>

</html>